services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_php

    env_file:
      - path: .env 
        required: false
    
    ports:
      - "8000:8000"
      - "9000:9000"
    
    volumes:
      - .:/var/www/laravel-docker
    
    working_dir: /var/www/laravel-docker
    
    restart: unless-stopped
