services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_php
    
    ports:
      - "9000:9000"
    
    volumes:
      - /var/www/laravel-docker:/var/www/laravel-docker
    
    working_dir: /var/www/laravel-docker
    
    restart: unless-stopped
